/* Reset b치sico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fffaf8;
  color: #333;
}

/* Header y Barra de navegaci칩n */
header {
  background: #ffb6b9;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  color: #fff;
}


nav .navbar-brand {
  color: #fffdfe;
  font-weight: bold;
}

/* Footer */
footer {
  background: #ffb6b9;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  color: #fff;
}


/* Estilos home/index */
/* Secciones principales */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #ff6f61;
  margin-bottom: 20px;
}

/* img principal */
.img-principal {
  display: block;
  margin: 30px auto;
  max-width: 80%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos pag Servicios */
/* Secci칩n de servicios */
.services ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
}

.services li {
  background: #ffe5e0;
  padding: 15px;
  border-radius: 8px;
}

/* Estilos pag Contacto */
/* Formulario de contacto */
form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background: #ff6f61;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #e65b50;
}


/*Secci칩n MQ */
/* Media query contacto */
/* Maps */
@media (max-width: 767px) {
  .maps {
    padding: 0 15px;
  }

  .maps iframe {
    width: 100%;
    height: 250px;
  }
}

/* Media query servicios */
@media (min-width: 600px) {
  .services ul {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}