//Reset
@use "base/estilos-generales" as *;

//Fuentes
@use "base/fonts" as *;

// Variables
@use "utilities/variables" as *;

//Mixin
@use "utilities/mixin" as *;

//Home
@use "pages/home" as *;

//Contacto
@use "pages/contacto" as *;

//servicios
@use "pages/servicios" as *;

//MQ desktop
@use "layout/mq_desktop" as *;

//MQ desktop
@use "layout/mq_tablet" as *;