/* mq home */
@media (min-width: 768px) {
  // Secciónes principales
  .about {
    display: flex;
    align-items: center;
    gap: 30px;

    .img-principal {
      max-width: 50%;
      margin: 0;
    }

    .saludo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      h2 {
        font-size: 45px;
      }

      h2,
      p {
        text-align: left;
      }
      p {
        font-size: 35px;
        font-weight: lighter;
      }
    }
  }
  .why {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
  }
  // Sección servicios
  .services-home {
    .cards-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      .card {
        max-width: 400px;
        height: 400px;

        .content {
          padding: 18px 22px;

          h3 {
            font-size: 1.3rem;
          }

          p {
            font-size: 1.1rem;
            max-width: 100%;
          }
        }

        button {
          font-size: 1.05rem;
          padding: 15px 22px;
        }
      }
    }
  }
  // Sección Testimonios
  .testimonios .testimonios-container {
    grid-template-columns: repeat(2, 1fr);
  }
  // Sección Consulta
  .cta {
    .cta-content {
      padding: 3rem 4rem;
      .cta-text {
        font-size: 1.2rem;
        line-height: 1.9;
      }
      .cta-btn {
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
      }
    }
  }
}

/* mq de pag contacto */
@media (min-width: 768px) {
  /* Formulario */
  .contact {
    h2 {
      text-align: left;
    }
  }

  /* mapa de ubicación */
  .maps {
    h2 {
      text-align: left;
    }
    iframe {
      height: 350px;
    }
  }
}

/* mq de pag servicios */
@media (min-width: 768px) {
  /* tarjetas de servicios */
  .services {
    h2 {
      text-align: left;
    }

    ul {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    li {
      text-align: left;
    }
  }
}
