// Variables
@use "../utilities/variables" as *;

//Sin parametros
@mixin section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

@mixin estilos-h2{
    font-family: $fuente-primaria;
    text-align: center;
    color: #ff6f61;
    font-size: 2rem;
    font-weight: bolder;
}

@mixin parrafos{
  font-family: $fuente-primaria;
    font-weight:600;
    text-align: center;
    color: rgb(165, 124, 124);
}
