// Variables
@use "../utilities/variables" as *;

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header y nav */
header {
  background: #ffb6b9;
  padding: 20px;
  text-align: center;

  h1 {
    font-family: $fuente-titulo;
    font-size: 3rem;
    font-weight: bolder;
  }

  .nav-link{
    font-family: $fuente-primaria;
    color:white;
    font-size: 1.5rem;
    font-weight:bold;
  
    &:hover{
      color:#fff;
    }
   
  }
}

/* footer */
footer {
  background: #ffb6b9;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  color: #fff;
}
