// Variables
@use "../utilities/variables" as *;

// Mixin
@use "../utilities/mixin" as *;

/* Home */
/* Secciones principales */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;

  h2 {
    color: #ff6f61;
    margin-bottom: 20px;
  }

  .img-principal {
    display: block;
    margin: 30px auto;
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
