//Reset
@use "../base/estilos-generales" as *;
//Fuentes
@use "../base/fonts" as *;
// Variables
@use "../utilities/variables" as *;
// Mixin
@use "../utilities/mixin" as *;

/* Home */
/* Secciones principales */
.about {

  @include section;

  .img-principal {
    display: block;
    margin: 30px auto;
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    @include estilos-h2;
    animation: backInRight;
    animation-duration: 2s;
  }

  p {
    font-family: $fuente-primaria;
    font-weight:600;
    text-align: center;
    font-size: 22px;
    color: rgb(165, 124, 124);
  }

  .boton-sobre-mi {
    display: flex;
    flex-direction: column;

    button {
      &:hover {
        background-color: #ffb6b9;
        border-color: white;
      }
    }
  }
}
