//Reset
@use "../base/estilos-generales" as *;
//Fuentes
@use "../base/fonts" as *;
// Variables
@use "../utilities/variables" as *;
// Mixin
@use "../utilities/mixin" as *;

/* Home */
/* Secciones principales */
.about {
  @include section;

  h2 {
    @include estilos-h2;
  }
  
  .img-principal {
    display: block;
    margin: 30px auto;
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  p {
    font-family:sans-serif;
    text-align: center;
    font-size: 22px;
    color:rgb(165, 124, 124);
  }
}
